@layer theme, base, mui, components, utilities;

* {
  font-family: var(--font-work-sans);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-default: 'Work Sans';
  --color-primary: #fe645e;
  --color-secondary: #6e314a;
  --color-tertiary-light: #141e7a;
  --color-tertiary-dark: #0a1047;
  --color-text-primary: #494949;
}

.MuiListItem-root .MuiTouchRipple-child {
  background-color: #fe645e;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
