@layer theme, base, mui, components, utilities;

* {
  font-family: var(--font-work-sans);
}

body {
  margin: 0;
  padding: 0;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-default: 'Work Sans';
  --color-primary: #fe645e;
  --color-secondary: #6e314a;
  --color-tertiary-light: #141e7a;
  --color-tertiary-dark: #0a1047;
  --color-text-primary: #494949;
  --color-text-secondary: #5c5c5c;
}
